body {
  margin: 0;
  padding: 0;
  background: #333;
  font-family: 'Gloria Hallelujah', sans-serif;
  color: pink;
}
h1 {
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 0;
}
canvas {
  border: 2px dotted pink;
}
button {
	display: inline-block;
	margin: 5px 15px;
	padding: 3px 10px;
	background-color: #333;
  text-align: center;
  text-decoration: none;

  border: 1px solid;
  border-radius: 12px;
  font-size: 1.5em;

	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}
button:hover {
  background-color: pink;
  color: #333;
}
.controls {
  margin-bottom: 10px;
}

/***** COLOR BUTTONS *****/
#red {
  color: #F34336;
}
#red:hover {
  background-color: #F34336;
  color: #333;
}
#orange {
  color: #FE5722;
}
#orange:hover {
  background-color: #FE5722;
  color: #333;
}
#yellow {
  color: yellow;
}
#yellow:hover {
  background-color: yellow;
  color: #333;
}
#green {
  color: #8BC24A;
}
#green:hover {
  background-color: #8BC24A;
  color: #333;
}
#turquoise {
  color: turquoise;
}
#turquoise:hover {
  background-color: turquoise;
  color: #333;
}
#purple {
  color: #7C4DFE;
}
#purple:hover {
  background-color: #7C4DFE;
  color: #333;
}
#pink {
  color: rgb(250, 100, 150);
}
#pink:hover {
  background-color: rgb(250, 100, 150);
  color: #333;
}
#white {
  color: white;
}
#white:hover {
  background-color: white;
  color: #333;
}
